In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

## Age Gender Exploration

In [3]:
df_ag = pd.read_csv('age_gender_bkts.csv')
df_ag.head()

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0

In [8]:
df_ag.isnull().any()

age_bucket                 False
country_destination        False
gender                     False
population_in_thousands    False
year                       False
dtype: bool

In [12]:
df_ag['age_bucket'] =df_ag['age_bucket'].apply(lambda x: '100-104' if x == "100+" else x)

In [13]:
df_ag['age_mean'] = df_ag['age_bucket'].apply(lambda x: (int(x.split('-')[0]) + int(x.split('-')[1]))/2)

In [16]:
df_ag = df_ag.drop('age_bucket', axis=1)
df_ag.head()

  country_destination gender  population_in_thousands    year  age_mean
0                  AU   male                      1.0  2015.0     102.0
1                  AU   male                      9.0  2015.0      97.0
2                  AU   male                     47.0  2015.0      92.0
3                  AU   male                    118.0  2015.0      87.0
4                  AU   male                    199.0  2015.0      82.0

In [17]:
df_ag['country_destination'].value_counts()

DE    42
NL    42
FR    42
AU    42
CA    42
IT    42
ES    42
GB    42
US    42
PT    42
Name: country_destination, dtype: int64

In [18]:
df_ag['gender'].value_counts()

male      210
female    210
Name: gender, dtype: int64

In [20]:
df_ag['year'].value_counts()

2015.0    420
Name: year, dtype: int64

In [21]:
df_ag['gender']=df_ag['gender'].apply(lambda x : 0 if x== 'male' else 0 )

In [23]:
df_ag = df_ag.drop('year', axis =1)
df_ag.head()

  country_destination  gender  population_in_thousands  age_mean
0                  AU       0                      1.0     102.0
1                  AU       0                      9.0      97.0
2                  AU       0                     47.0      92.0
3                  AU       0                    118.0      87.0
4                  AU       0                    199.0      82.0

## Country Stats

In [3]:
df_co = pd.read_csv('countries.csv')
df_co.head()

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06


## Sessions head

In [4]:
df_se = pd.read_csv('sessions.csv')
df_se.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [17]:
df_se['secs_elapsed'].describe()
df_se[df_se['secs_elapsed'].isnull()]

Empty DataFrame
Columns: [user_id, action, action_type, action_detail, device_type, secs_elapsed]
Index: []

In [18]:
median_secs = df_se['secs_elapsed'].median()
df_se['secs_elapsed'] = df_se['secs_elapsed'].fillna(median_secs)

In [19]:
null_action = df_se[(df_se['action'].isnull()) | (df_se['action_detail'].isnull()) | (df_se['action_type'].isnull())]
null_action['action'].drop_duplicates()

0                          lookup
18                           show
45                            NaN
191               track_page_view
6314                       widget
7331                     uptodate
58165                       index
112004                  campaigns
127943                 currencies
147141      localization_settings
177355                     update
1291429        phone_verification
1311975                   satisfy
1825317            track_activity
1839670                     check
2055107          signed_out_modal
3625983           disaster_action
5047162       similar_listings_v2
8785833    braintree_client_token
Name: action, dtype: object

In [20]:
df_se[df_se['device_type'].isnull()]

df_se['device_type'] = df_se['device_type'].replace('-unknown-', np.nan)

In [21]:
df_se['device_type'].value_counts()

Mac Desktop                         3594286
Windows Desktop                     2658539
iPhone                              2105031
Android Phone                        839637
iPad Tablet                          683414
Android App Unknown Phone/Tablet     273652
Tablet                               139886
Linux Desktop                         28373
Chromebook                            22348
iPodtouch                              8198
Windows Phone                          2047
Blackberry                              979
Opera Phone                              68
Name: device_type, dtype: int64

Training Users

In [26]:
df_train = pd.read_csv('train_users_2.csv')
df_train.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US